body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    font-family: 'Courier New', monospace;
    display: grid;
    justify-items: center;
    color: white;
    text-align: center;
}

h2 span {
    font-size: 1.8rem;
    font-family: Arial, sans-serif;
}

button {
    background-color: black;
    color: white;
    padding: 7px 10px;
}

th {    
    width: 150px;
    font-size: 1.5rem;
}

tr {
    font-size: 1.3rem;
}

td {
    padding: 0 10px;
    color: black;
}

#projList {
    margin-top: 100px;
}

#projList div{
    margin-top: 20px;
}