body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);    
    font-weight: 200;
    display: grid;
    justify-items: center;
    color: white;
    text-align: center;
}

* {
    font-family: "Montserrat", serif;
}

/* input {
    accent-color: cyan;
} */

h1 {
    display: inline;
    font-family: 'Jersey 15', serif;
    font-size: 5rem;
    font-weight: 600;
}

button {
    padding: 7px 10px;
    cursor: pointer;
    background-color: transparent;
}

#main > button, #projList button {
    border: 2px solid white;
    color: white;    
    transition: background-color 150ms, color 150ms;
}
#main > button:hover, #projList button:hover {
    background-color: white;
    color: rgb(30, 30, 30);
}

table button {
    border: 0;
    color: black;
    font-size: 1rem;
    text-decoration: underline;
    transition: background-color 150ms;
}
table button:hover {
    background-color: white;
}

dialog button {
    border: 2px solid black;
    transition: background-color 150ms, color 150ms;
}
dialog button:hover {
    background-color: black;
    color: white;
}

#edit button {
    margin-left: 5px;
}

tr > td:first-child {
    min-width: 450px;
}

tr > td:last-child {
    min-width: 150px;
}

th {
    width: 150px;
    font-family: 'Jersey 15', serif;
    font-size: 1.5rem;
}

tr {
    font-size: 1.3rem;
}

td {
    padding: 0 10px;
    color: black;
}

#create, #edit {
    position: absolute;
    inset: 0;
    margin: auto;
}
#create, #edit {
    z-index: 1;
}

#projList {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#projList div{
    margin-top: 20px;
}

#projList span {
    font-family: 'Jersey 15', serif;
    font-size: 2.7rem;
    margin-right: 10px;
}

#modalBackdrop {    
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

.hidden {
    display: none;
}